In [47]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows',500)

In [91]:
df_admi = pd.read_csv('./dataset/ADMISSIONS.csv')
df_diag = pd.read_csv('./dataset/DIAGNOSES_ICD.csv')
df_los = pd.read_csv('./dataset/ICUSTAYS.csv')
df_patient = pd.read_csv('./dataset/PATIENTS.csv')
df_ditems = pd.read_csv('./dataset/D_ITEMS.csv')

df_admi = df_admi.dropna()
df_admi = df_admi.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'],keep = 'first')
df_admi.drop([
    "ROW_ID",
    "ADMITTIME",
    "DISCHTIME",
    "DEATHTIME",
    "EDREGTIME",
    "EDOUTTIME",
    "HOSPITAL_EXPIRE_FLAG",
    "HAS_CHARTEVENTS_DATA",
    "DIAGNOSIS",
    "LANGUAGE"
], axis=1, inplace=True)

# df_diag = df_diag.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'],keep = 'first')
df_diag = df_diag.dropna()
df_diag.drop([
    "ROW_ID",
    "SEQ_NUM",
    "HADM_ID"
],axis = 1, inplace = True)
# df_diag = df_diag.loc[df_diag["ICD9_CODE"].str.contains('99591')]
df_diag.loc[df_diag["ICD9_CODE"].str.contains('99591'),"ICD9_CODE"] = '\+1'
df_diag.loc[~df_diag["ICD9_CODE"].str.contains('\+1'),"ICD9_CODE"]= '\-1' 
# df_diag = df_diag.loc[df_diag["ICD9_CODE"] != "99591","ICD9_CODE"] = '0'
# df_diag = df_diag.loc[df_diag["ICD9_CODE"].str.contains('\-1')]
def label_sepsis (e):
    if e in '\+1':
        return 1
    else:
        return 0
df_diag['is_sepsis'] = df_diag['ICD9_CODE'].apply(lambda e :label_sepsis(e))
df_diag.drop([
    "ICD9_CODE",
],axis = 1, inplace = True)
df_diag = df_diag.sort_values('is_sepsis')
df_diag = df_diag.drop_duplicates(subset = 'SUBJECT_ID', keep = "last")
# df_diag = df_diag.loc[df_diag['is_sepsis'] == 0]

# df_los = df_los.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'],keep = 'first')
df_los = df_los.dropna()
df_los.drop([
    "ROW_ID",
    "ICUSTAY_ID",
    "DBSOURCE",
    "FIRST_WARDID",
    "LAST_WARDID",
    "INTIME",
    "OUTTIME",
    "HADM_ID"
],axis = 1, inplace = True)

# df_patient = df_patient.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'],keep = 'first')
df_patient = df_patient.dropna()
df_patient['DOB'] = pd.to_datetime(df_patient['DOB']).dt.date
df_patient['DOD'] = pd.to_datetime(df_patient['DOD']).dt.date
df_patient['age'] = df_patient.apply(lambda e:(e['DOD'] - e['DOB']).days/365,axis = 1)
df_patient.age = df_patient.age.astype(int)
df_patient.drop([
    "ROW_ID",
    "EXPIRE_FLAG",
    "DOD_SSN",
    "DOD_HOSP",
    "DOD",
    "DOB"
],axis = 1, inplace = True)
df_patient = df_patient.loc[df_patient['age']<=100]

# df_admi
# df_diag
# df_los
# df_patient

df_merge =

       SUBJECT_ID GENDER  age
7             257      F   90
10            261      M   76
25            668      F   86
26            669      M   60
27            670      M   80
...           ...    ...  ...
46475       43927      F   72
46477       43937      M   87
46490       43990      F   54
46496       44018      F   88
46513       44083      M   56

[6919 rows x 3 columns]