In [218]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)

In [219]:
df_admi = pd.read_csv('./dataset/base_admi.csv')
df_diag = pd.read_csv('./dataset/base_sepsis.csv')
df_los = pd.read_csv('./dataset/base_los.csv')
df_patient = pd.read_csv('./dataset/base_patient.csv')
df_ditems = pd.read_csv('./dataset/D_ITEMS.csv')

# vital
df_abpd = pd.read_csv('./dataset/vital_abpd.csv')
df_abps = pd.read_csv('./dataset/vital_abps.csv')
df_abpm = pd.read_csv('./dataset/vital_abpm.csv')
df_heartrate = pd.read_csv('./dataset/vital_heartrate.csv')
df_heartrate_min = pd.read_csv('./dataset/vital_heartrate_min.csv')
df_resprate = pd.read_csv('./dataset/vital_resprate.csv')
df_spo2 = pd.read_csv('./dataset/vital_spo2.csv')
df_tempc = pd.read_csv('./dataset/vital_tempc.csv')

# take mean value
df_abpd = df_abpd.groupby(['subject_id']).mean().reset_index()
df_abpd = df_abpd[['subject_id','valuenum']]
df_abpd.rename(columns ={'valuenum':'apbd'},inplace=True)
# df_abpd['valueuom'] = 'mmHg'
df_abpd

df_abps = df_abps.groupby(['subject_id']).mean().reset_index()
df_abps = df_abps[['subject_id','valuenum']]
df_abps.rename(columns ={'valuenum':'apbs'},inplace=True)
# df_abps['valueuom'] = 'mmHg'
df_abps

df_abpm = df_abpm.groupby(['subject_id']).mean().reset_index()
df_abpm = df_abpm[['subject_id','valuenum']]
df_abpm.rename(columns ={'valuenum':'apbm'},inplace=True)
# df_abpm['valueuom'] = 'mmHg'
df_abpm

df_heartrate= df_heartrate.groupby(['subject_id']).mean().reset_index()
df_heartrate = df_heartrate[['subject_id','valuenum']]
df_heartrate.rename(columns ={'valuenum':'heartrate'},inplace=True)
# df_heartrate[ 'valueuom'] = 'bpm'
df_heartrate

df_heartrate_min = df_heartrate_min.groupby(['subject_id']).mean().reset_index()
df_heartrate_min = df_heartrate_min[['subject_id','valuenum']]
df_heartrate_min.rename(columns ={'valuenum':'heartrate_min'},inplace=True)
# df_heartrate_min[ 'valueuom'] = 'bpm'
df_heartrate_min

df_resprate=df_resprate.groupby(['subject_id']).mean().reset_index()
df_resprate=df_resprate[['subject_id','valuenum']]
df_resprate.rename(columns ={'valuenum':'resprate'},inplace=True)
# df_resprate[ 'valueuom'] = 'insp/min'
df_resprate

df_spo2 = df_spo2.groupby(['subject_id']).mean().reset_index()
df_spo2 = df_spo2[['subject_id','valuenum']]
df_spo2.rename(columns ={'valuenum':'spo2'},inplace=True)
# df_spo2[ 'valueuom'] = '%'
df_spo2

df_tempc = df_tempc.groupby(['subject_id']).mean().reset_index()
df_tempc = df_tempc[['subject_id','valuenum']]
df_tempc.rename(columns ={'valuenum':'tempc'},inplace=True)
# df_tempc[ 'valueuom'] = 'C'
df_tempc

     subject_id   df_tempc
0         15170  38.164115
1         15174  36.922223
2         15209        NaN
3         15210  37.129166
4         15216  37.350000
5         15217  38.111765
6         15219  36.674074
7         15220  37.367742
8         15232        NaN
9         15234  36.192308
10        15236  37.247058
11        15243  36.640217
12        15247        NaN
13        15256  36.900000
14        15257  36.757500
15        15263  36.940661
16        15265  37.646328
17        15267        NaN
18        15272  37.330769
19        15275        NaN
20        15276  36.518367
21        15279  37.951282
22        15284        NaN
23        15287  36.542857
24        15295  37.359259
25        15298        NaN
26        15312  37.766346
27        15313  37.738793
28        15324  36.841379
29        15325  36.950000
30        15328        NaN
31        15329  36.915306
32        15337  36.800000
33        15351  37.249425
34        15352        NaN
35        15357  37.234375
36        15359  37.101887
37        15366  36.833333
38        15380        NaN
39        15382  36.912639
40        15383  37.255555
41        15386  36.816364
42        15390  37.900000
43        15394  37.450000
44        15398  36.609756
45        15401   0.000000
46        15404  36.937500
47        15412        NaN
48        15414        NaN
49        15415  36.763889
50        15417  36.811429
51        15418  38.584000
52        15420  37.454546
53        15421        NaN
54        15423        NaN
55        15427  36.842857
56        15428  38.113637
57        15436  35.975000
58        15438        NaN
59        15440  37.264815
60        15441  37.633333
61        15452   0.000000
62        15456  37.260465
63        15465  36.877953
64        15468  37.351724
65        15472  37.720492
66        15476  36.000000
67        15481  37.525000
68        15486  37.216667
69        15487  37.163637
70        15488        NaN
71        15490  36.874359
72        15495  36.028572
73        15496  37.250000
74        15498        NaN
75        15504        NaN
76        15505  36.453498
77        15510  36.758273
78        15514  37.417143
79        15530  37.712500
80        15531  37.280000
81        15558        NaN
82        15560        NaN
83        15569  37.050001
84        15577  35.700001
85        40703  37.566667
86        40789  37.735484
87        40822  40.146452
88        40837  38.120690
89        40877  99.400000
90        40878  37.388235
91        40881  36.168750
92        40911  37.400000
93        40912  37.669565
94        40957  37.262069
95        40978  36.973944
96        40999  48.483333
97        41027  37.352941
98        41034  36.200000
99        41113  38.939394
100       41115  38.197143
101       41163  37.669811
102       41209  37.000000
103       41216  39.200000
104       41217  35.421053
105       41221  38.452941
106       41234  36.729167
107       41245  37.039286
108       41248  39.728000
109       41255  33.018182
110       41260  37.052632
111       41287  36.613861
112       41414  36.020000
113       41438  33.000000
114       41517  37.694444
115       41602  37.289286
116       41603  37.384000
117       41606  36.900000
118       41619  38.100000
119       41624  34.900000
120       41631  37.000000
121       41655  36.186957
122       41661  37.118182
123       41704  36.517647
124       41731  37.725000
125       41738  36.339024
126       41816  39.225000
127       41822  37.008696
128       41843  37.143478
129       41882  37.516667
130       41943  39.800000

In [172]:
# df_patient
# df_sepsis
# df_admi
# df_los

# patients who are diagnosed with sepsis
temp = pd.merge(df_sepsis, df_patient,on=['subject_id'])
# and stayed at the icu for more then 24 hours
temp = pd.merge(temp, df_los, on=['subject_id','hadm_id'])
# plus their identity info
temp = pd.merge(temp,df_adm,on=['subject_id','hadm_id'])

temp = pd.merge(temp,df_abpd, on=['subject_id'])

temp = pd.merge(temp,df_abps, on=['subject_id'])

temp = pd.merge(temp,df_abpm, on=['subject_id'])
# temp

,subject_id,hadm_id,icd9_code,gender,age,los,insurance,religion,marital_status,ethnicity,itemid_x,valuenum_x,valueuom_x,itemid_y,valuenum_y,valueuom_y,itemid,valuenum,valueuom
0,689,129080,99591,F,NaN,2.9072,Medicare,NOT SPECIFIED,WIDOWED,BLACK/AFRICAN AMERICAN,220051.0,55.769231,mmHg,220050.0,108.486486,mmHg,220052.0,71.288462,mmHg
1,2589,113195,99591,M,66 days 21:18:14.794521,4.9153,Medicare,EPISCOPALIAN,MARRIED,WHITE,220051.0,64.255319,mmHg,220050.0,120.404255,mmHg,220052.0,80.710526,mmHg
2,2589,115691,99591,M,66 days 21:18:14.794521,3.1291,Medicare,EPISCOPALIAN,MARRIED,WHITE,220051.0,64.255319,mmHg,220050.0,120.404255,mmHg,220052.0,80.710526,mmHg
3,2589,178411,99591,M,66 days 21:18:14.794521,8.0355,Medicare,EPISCOPALIAN,MARRIED,WHITE,220051.0,64.255319,mmHg,220050.0,120.404255,mmHg,220052.0,80.710526,mmHg
4,2378,157554,99591,F,82 days 07:37:38.630137,5.2512,Medicare,NOT SPECIFIED,MARRIED,WHITE,220051.0,60.058824,mmHg,220050.0,100.000000,mmHg,220052.0,74.764706,mmHg

In [209]:
# 3. vital signs --> take mean
# df_vital = df_ditems.loc[df_ditems['LABEL'].str.contains("Temperature", na=False)]
df_vital = df_ditems.loc[df_ditems['ITEMID']==211]
# Heart Rate(220045/211/)
# hearrate_min(3494/)

# temperature Celsius(223762/676) --> min/max

# Artierial Blood Pressure systolic --> ABPs(220050/6/51/6701/225309)
# Artierial Blood Pressure diastolic --> ABPd(220051/8368/225310)
# Artierial Blood Pressure mean --> ABPm(220052/52/6701/225312)


# Respiratory Rate(220210/517/618/3603/8113)

# sp2--> o2 saturation pulseoxymetry(220277)

df_vital

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
475,212,211,Heart Rate,NaN,carevue,chartevents,NaN,NaN,NaN,NaN