In [2]:
import numpy as np
import pandas as pd
from IPython.core.display import HTML

In [7]:
df_admi = pd.read_csv('./dataset/ADMISSIONS.csv')
df_diag = pd.read_csv('./dataset/DIAGNOSES_ICD.csv')
df_icu = pd.read_csv('./dataset/ICUSTAYS.csv')
df_patient = pd.read_csv('./dataset/PATIENTS.csv')

# df_admi.head(3)
# df_diag.head(3)
# df_icu.head(3)
df_patient.head(3)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0